.tab-container {
  display: flex;
  justify-content: space-between;
  overflow: scroll;
}

.tab-content {
  font-family: Rubik;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin: 0 0.5rem;
  color: rgba(159, 159, 159, 1);
  cursor: pointer;
  transition: all ease 0.1s;
  width: 100%;
  white-space: nowrap;
  /* word-wrap: initial; */
}

.tab-content.active {
  font-weight: 700;
  color: rgba(106, 64, 41, 1);
  border-bottom: 2px solid rgba(106, 64, 41, 1);
}

.menu-list {
  padding: 1rem 1rem;
}

.menu-container {
  padding: 5rem 1rem;
  display: flex;
  flex-direction: row;
  gap: 4rem 1.5rem;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .tab-container {
    padding: 0 1.2rem;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
