.edit-product {
  margin-top: 5rem;
}

.content {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 2rem;
}

.image-container {
  min-width: 40%;
  width: 40%;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.product {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title,
.price,
.description {
  font-family: Poppins;
  font-size: 3rem;
  border: none;
  outline: none;
  border-bottom: 2px solid rgba(159, 159, 159, 0.5);
  font-style: normal;
  font-weight: 900;
  text-align: left;
  transition: all ease-in-out 0.5s;
  color: rgba(0, 0, 0, 0.5);
}

.title:focus,
.price:focus,
.description:focus {
  border-bottom: 2px solid rgba(159, 159, 159, 1);
  color: rgba(0, 0, 0, 1);
}

.price {
  font-size: 2rem;
  font-weight: 500;
}

.description {
  font-size: 1.2rem;

  font-weight: 400;
}
