.card {
  background-color: #fff;
  border-radius: 5px;
  border-bottom: 10px solid rgba(106, 64, 41, 1);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: flex-start;
  width: 75%;
}
